#paragraph{
    font-size: 30px;
    margin-right: 70%;
font-display: 100px;
color: black;
}
#pic1{
    height: 300px;
    width: 450px;
    margin: 20px;
    

}

#pic2{
     height: 300px;
    width: 450px;
    margin: 20px;

    
}

#pic3{
     height: 300px;
    width: 450px;
    margin: 20px;
    
}
#content{
    display: flex;
    flex-direction: row;
    align-items: self-start;
    object-fit: cover;

}
