#paragraph{
    font-size: 30px;
    margin-right: 70%;
font-display: 100px;
color: palevioletred;
}
#pic1{
    height: 100px;
    width: 200px;
    margin: 30px;
    

}

#pic2{
    height: 100px;
    width: 200px;
    padding: 30px;

    
}

#pic3{
    height: 100px;
    width: 200px;
    margin: 30px;

    
}
#content{
    display: flex;
    flex-direction: row;
    align-items: self-start;
    padding: 50px;
    object-fit: cover;

}
