#pict{
    display: flex;
    align-items: self-start;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 5%;
    flex-wrap: 1;
}

#click{
    align-items: right;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: white;
    background-color: black;
    border-radius: 12px;
    padding: 5px;


}
 para{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
    margin-top: 5%;
    object-fit: contain;
    margin-left:5px ;
    margin-right: 5px;

 }
 .content{


    margin-left:5px ;
    margin-right: 5px;

 }




